<p id="notice"><%= notice %></p>

<h1>Listing Entries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry %></td>
        <% if File::ftype("#{Rails.root}/public/#{@directory}/#{entry}") == 'file' %>
          <td>file</td>
          <td><%= link_to 'Link', "http://localhost:4000/#{@directory}/#{entry}"  %></td>
          <td><%= link_to 'Edit', edit_entry_path(filename: entry, directory: @directory) %></td>
          <td><%= link_to 'Rename', renaming_entry_path(filename: entry, directory: @directory) %></td>
          <td><%= link_to 'Delete', destroy_entry_path(filename: entry, directory: @directory), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td>directory</td>
          <td><%= link_to 'Link', entries_path(directory: "#{@directory}/#{entry}")  %></td>
          <td><%= link_to 'Rename', renaming_entry_path(filename: entry, directory: @directory) %></td>
          <td><%= link_to 'Delete', destroy_entry_path(filename: entry, directory: @directory), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path(directory: @directory) %> <br />
<%= link_to 'New Directory', new_dir_entry_path(directory: @directory) %> <br />
<%= link_to 'Upload Entry', uploader_entry_path(directory: @directory) %> <br />
<%= link_to 'Build', build_site_path(directory: @directory) %> <br />
