<h4>Creating Entry: <em><%= "#{params[:directory]}/" %></em></h4>
<%= link_to 'Back', entries_path, class: 'button button-primary' %>

<%= form_tag("/create_entry", method: "post") do %>
    <%= label_tag :filename %>
    <%= hidden_field_tag :directory, params[:directory] %>
    <%= text_field_tag :filename, params[:filename] %>
    <%= label_tag :content %>
    <%= text_area_tag :content, '', size: "80x60", style: 'height: 600px' %><br />
    <%= submit_tag("submit") %>
<% end %>


