<h4>Creating Entry: <em><%= "#{params[:directory]}/" %></em></h4>
<%= link_to 'Back', entries_path, class: 'button button-primary' %>


<%= form_tag("/create_entry", method: "post") do %>
    <%= label_tag :filename %>
    <%= hidden_field_tag :directory, params[:directory] %>
    <%= text_field_tag :filename, params[:filename] %>
    <%= label_tag :content %>
    <div id="text-content">hello</div>
    <%= text_area_tag :content, '', size: "80x60", style: 'height: 600px' %><br />
    <%= submit_tag("submit") %>
<% end %>

<style>
#text-content {
  width: 100%;
  height: 450px;
  border: 1px solid #DDD;
  padding: 10px;
  margin-bottom: 10px;
}
</style>

<script>
var options = {
  editor: document.getElementById('text-content'),
  class: 'pen',
  stay: false,
}
var editor = new Pen(options);
editor.on('change', function(e){
  console.log(e)
  $('#content').html(e)
})
</script>