<h4>Creating Directory Entry: <em><%= "#{params[:directory]}/" %></em></h4>
<%= link_to 'Back', entries_path, class: 'button button-primary' %>

<%= form_tag("/create_dir_entry", method: "post") do %>
    <%= label_tag :filename %>
    <%= hidden_field_tag :directory, params[:directory] %>
    <%= text_field_tag :filename, params[:filename] %>
    <%= submit_tag("submit") %>
<% end %>


