<h1>Creating Entry</h1>

<%= form_tag("/upload_entry", method: "post", multipart: true) do %>
  <div class="field">
    <h3><%= params[:filename] %></h3>
    <%= label_tag :filename %><br>
    <%= hidden_field_tag :directory, params[:directory] %><br>
    <%= text_field_tag :filename, params[:filename] %><br>
    <%= label_tag :content %><br>
    <%= file_field_tag :content %><br>
    <%= submit_tag("submit") %>
  </div>
<% end %>

<%= link_to 'Back', entries_path %>
