<h4>Uploading Entry: <em><%= "#{params[:directory]}/" %></em></h4>
<%= link_to 'Back', entries_path, class: 'button button-primary' %>

<%= form_tag("/upload_entry", method: "post", multipart: true) do %>
    <%= label_tag :filename %>
    <%= hidden_field_tag :directory, params[:directory] %>
    <%= text_field_tag :filename, params[:filename] %>
    <%= label_tag :content %>
    <%= file_field_tag :content %><br>
    <%= submit_tag("submit") %>
<% end %>


